<app-home></app-home>
<div style="height: 200px; width:100%" class="position-relative">
  <div class="position-absolute top-0 start-0">
    <p class="fst-italic fw-bold text-decoration-underline fs-1">a</p>
  </div>
  <div class="position-absolute top-0 start-50 translate-middle-x">
    <p class="fst-italic fw-bold text-decoration-underline fs-1">b</p>
  </div>
  <div class="position-absolute top-0 end-0">
    <p class="fst-italic fw-bold text-decoration-underline fs-1">c</p>
  </div>
  <div class="position-absolute top-50 start-0 translate-middle-y">
    <p class="fst-italic fw-bold text-decoration-underline fs-1">d</p>
  </div>
  <div class="position-absolute top-50 start-50 translate-middle">
    <p class="fst-italic fw-bold text-decoration-underline fs-1">e</p>
  </div>
  <div class="position-absolute top-50 end-0 translate-middle-y">
    <p class="fst-italic fw-bold text-decoration-underline fs-1">f</p>
  </div>
  <div class="position-absolute bottom-0 start-0">
    <p class="fst-italic fw-bold text-decoration-underline fs-1">g</p>
  </div>
  <div class="position-absolute bottom-0 start-50 translate-middle-x">
    <p class="fst-italic fw-bold text-decoration-underline fs-1">h</p>
  </div>
  <div class="position-absolute bottom-0 end-0">
    <p class="fst-italic fw-bold text-decoration-underline fs-1">i</p>
  </div>
</div>
