<form #formDir="ngForm"
      [formGroup]="authFormGroup"
      class="container add-form"
      (ngSubmit)="onSubmit(formDir)">
  <label>Add a new post</label>
  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control"
           name="email"
           id="email"
           formControlName="email" 
           required>
    
    <div *ngIf="email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger">

        <div *ngIf="email.errors.required">
          Email is required.
        </div>
        <div *ngIf="title.errors.minlength">
          Email must be at least 8 characters.
        </div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input class="form-control"
           name="password"
           id="password"
           formControlName="password" 
           required>
    
    <div *ngIf="password.invalid && (password.dirty || password.touched)"
            class="alert alert-danger">

        <div *ngIf="password.errors.required">
          Password is required.
        </div>
        <div *ngIf="password.errors.minlength">
          Password must be at least 8 characters.
        </div>
    </div>
  </div>
  <button type="submit" 
          class="btn btn-primary"
          [disabled]="authFormGroup.invalid">Submit</button>
</form>