<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Buscar"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>

    <a class="navbar-brand" routerLink="/products">Artículos</a>

    <a class="navbar-brand" routerLink="/aboutUs">Sobre Nosotros</a>

    <a class="navbar-brand" routerLink="/addProduct">Agregar Artículo</a>

    <a class="navbar-brand" routerLink="/cart">
      <img
        src="https://banner2.cleanpng.com/20180717/vzr/kisspng-computer-icons-shopping-cart-bag-product-shelf-5b4e886ea05ee9.8407006415318733906569.jpg"
        alt=""
        height="27"
      />
      Carrito
    </a>

    <a class="navbar-brand" routerLink="/login2">
      <img
        src="https://mpng.subpng.com/20180401/dbq/kisspng-user-profile-computer-icons-profile-5ac09245049c32.0935523415225697970189.jpg"
        alt=""
        height="27"
      />
      Iniciar Sesión
    </a>
  </div>
</nav>
